@import './director-content.scss';

.directors-grid {
  position: relative;

  height: 100%;

  @media (max-width: 1200px) {
  }
}

//This orders the z-indices of the panels;
@mixin z-index {
  @for $i from 0 through 11 {
    &:nth-child(#{$i}) {
      z-index: #{$i * 100};
    }
  }
}
@mixin x-position {
  @for $i from 0 through 11 {
    &:nth-child(#{$i}) {
      left: calc(#{($i - 1) * 100vw / 11} * var(--animation));
    }
  }
}

.director-panel {
  @include z-index;
  /*   @include x-position; */

  overflow: hidden;

  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;

  padding: 10vh 0px;

  grid-template-columns: calc(100% / 11) 1fr;

  cursor: pointer;

  @media (max-width: 1200px) {
    display: none;
  }

  &:hover {
    .director-background {
      filter: grayscale(0%) brightness(1);
      background-position: 45% 50%;
    }
  }
  .name-container {
    position: relative;
    height: min-content;
    font-family: Rubik Mono One;
    z-index: 10000;

    align-self: flex-end;
    justify-self: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: left;

    .name {
      font-size: 8vh;
      line-height: 7vh;

      @media (max-width: 1500px) {
        font-size: 5vw;
        line-height: 4vw;
      }
    }

    .surname {
      padding: 10px 2px;
      display: inline;

      font-size: 2.5vh;
      color: rgb(46, 36, 246);
      color: white;
      z-index: 1000;

      @media (max-width: 1500px) {
        font-size: 2.5vw;
        line-height: 2vw;
      }

      /*   filter: brightness(1.8) saturate(1); */
    }
  }

  .director-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(25vw);
    z-index: -10;

    background-position: 50% 50%;
    transition: background-position 1s, filter 0.5s;
    background-repeat: no-repeat;
    background-color: black;

    filter: grayscale(100%) brightness(0.5);

    .background-color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: color;
    }

    @media (max-width: 975px) {
    }
  }
}
