@import './director-content.scss';

.directors-grid {
  position: relative;
  height: 100%;
}

@mixin transition {
  @for $i from 0 through 11 {
    &:nth-child(#{$i}) {
      z-index: #{$i * 100};
    }
  }
}

.director-panel {
  @include transition;

  overflow: hidden;

  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;

  padding: 100px 0px;
  padding-top: 200px;

  grid-template-columns: calc(100% / 11) 1fr;

  /* background-color: red; */
  cursor: pointer;

  &:hover {
    .director-background {
      filter: grayscale(0%) brightness(1);
      background-position: 150% 50%;
    }
  }
  .name-container {
    position: relative;
    height: min-content;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    z-index: 10000;

    align-self: end;
    writing-mode: vertical-lr;
    text-align: left;
    line-height: 250%;

    /*   margin-right: 10px; */

    .crossLink {
      position: absolute;
      height: 85px;
      bottom: 103%;
      left: 0;
      z-index: 100000;

      cursor: pointer;
    }

    .name {
      /*  font-family: Stanley; */
      font-size: 600%;
    }

    .surname {
      font-family: Stanley;
      font-size: 2rem;
      color: rgb(46, 36, 246);

      filter: brightness(1.8) saturate(1);
    }
  }

  .director-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(50vw);
    z-index: -10;

    background-position: 250% 50%;
    transition: background-position 1s, filter 0.5s;
    background-repeat: no-repeat;
    background-color: black;

    filter: grayscale(100%) brightness(0.5);

    .background-color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: color;
    }

    @media (max-width: 975px) {
    }
  }
}
