.directors-grid {
  /*  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(11, 1fr); */

  display: flex;
  width: 100%;

  height: min-content;

  height: 80%;
  padding: 20px 0;

  /*   border-top: 2px solid white;
  border-bottom: 2px solid white; */
}

.director {
  display: grid;

  /* justify-items: center; */
  align-items: center;

  position: relative;
  font-size: 1.2rem;
  /* line-height: 1.5rem; */
  /*  padding: 5px 0; */

  //vertical styles
  writing-mode: vertical-lr;
  writing-mode: sideways-rl;

  /*   width: 100%;
  height: 100%; */

  padding-top: 5vh;

  /* text-orientation: upright; */

  /*   line-height: 10px; */

  cursor: pointer;

  .name-container {
    transform: rotate(180deg);

    text-align: right;
  }

  .name {
    font-size: 4rem;
    /*     letter-spacing: -25px; */
    /*   background-color: black; */
  }
  .surname {
    font-family: Stanley;
    /*    letter-spacing: 0px; */
    font-size: 2rem;
    color: rgb(46, 36, 246);
    /*    transform: translateX(15px); */
  }

  .director-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    background-size: cover;
    background-position: center;

    transition: 0.5s;

    filter: grayscale(100%) brightness(0.5);
  }

  &:hover {
    .director-background {
      filter: grayscale(0%) brightness(1);
      background-position: 40%;
    }
  }
}

.director-featured {
  display: grid;
  display: none;
  grid-template-columns: 1fr 1fr;

  .image {
    margin: 30px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
