.directors-grid {
  position: relative;

  height: 100%;

  /* border-bottom: 3px solid white; */
}

@mixin transition {
  @for $i from 0 through 11 {
    &:nth-child(#{$i}) {
      z-index: #{$i * 100};
    }
  }
}

.director-panel {
  @include transition;
  /* will-change: transform; */
  display: grid;
  grid-template-columns: calc(100% / 11) 1fr;
  position: absolute;

  width: 100%;
  /*   height: calc(100% - 15px); */
  height: 100%;

  /*   border-bottom: 2px solid white;
  border-top: 2px solid white; */
  padding: 100px 0px;

  background-color: black;
  cursor: pointer;

  &:hover {
    .director-background {
      filter: grayscale(0%) brightness(1);
      background-position: 60% 50%;
    }
  }

  /*  position: relative; */
  /*  height: 100%;
  width: 100%;
  padding-bottom: 30px; */

  .name-container {
    /*    display: grid; */

    /*  justify-items: center; */
    position: relative;
    /* align-items: center; */

    align-self: end;

    writing-mode: vertical-lr;
    /*  text-orientation: upright; */

    transform: rotate(180deg);
    transform-origin: 50% 50%;
    text-align: left;
    /*   width: calc(100% / 11); */
    height: 100%;
    height: min-content;

    line-height: 250%;
    z-index: 10000;

    .crossLink {
      position: absolute;
      bottom: 103%;
      left: 0;
      cursor: pointer;

      height: 85px;
      z-index: 100000;
    }

    .name {
      font-size: 600%;
      /*     letter-spacing: -25px; */
      /*   background-color: black; */
    }

    .surname {
      font-family: Stanley;
      /*    letter-spacing: 0px; */
      font-size: 2rem;
      color: rgb(46, 36, 246);
      /*    transform: translateX(15px); */
      filter: brightness(1.5) saturate(1);
    }
  }

  .director-content {
    display: grid;
    width: 100%;
    height: min-content;

    height: 100%;

    margin-left: 10px;
    border-left: 4px solid white;

    grid-template-columns: 1fr 50vw;

    .director-bio {
      font-family: Roboto;
      text-align: left;
      /*  text-align: justify; */
      align-self: end;
      width: 400px;
      font-size: 0.8rem;
      line-height: 1.5rem;
      letter-spacing: 2.5px;

      /* padding: 30px; */
      padding-left: 20px;

      /* background-color: rgb(0, 0, 0); */
      /*  backdrop-filter: blur(50px); */
    }

    .director-movies {
      display: grid;
      grid-template-rows: min-content 1fr;
      justify-self: center;
      /* height: 100%; */
      width: 100%;
      padding: 50px;
      padding-bottom: 0;

      align-self: end;

      h1 {
        justify-self: end;
        width: 100%;
        width: min-content;
        text-align: right;
        margin: 0;

        padding: 0 15px;
        background-color: black;
      }
    }

    .director-movies-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      grid-auto-flow: row-reverse;

      /*  align-self: end; */

      height: min-content;

      grid-template-rows: auto;
      /*  background-color: black; */

      gap: 20px;
      gap: 0px;

      .director-movie {
        position: relative;
        background-size: cover;
        width: 100%;
        /*    height: 100%; */
        aspect-ratio: 16/9;

        padding: 10px;
        text-align: right;
        z-index: 10;

        .movie-title {
          position: relative;
          font-family: Roboto;
          font-weight: thin;
          display: inline;
          padding: 2px;
          background-color: black;
          pointer-events: none;
          z-index: 10000;
        }

        .color-overlay {
          /* display: none; */
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: color;

          filter: saturate(1);

          z-index: 3;
        }

        .movie-image {
          /* display: none; */
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          z-index: 2;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .director-back {
      margin: 30px;
      font-size: 6rem;
      line-height: 0rem;
      font-family: Roboto;
      font-weight: 100;
      transform: scaleX(1.3);

      cursor: pointer;
    }
  }

  .director-background {
    /*  display: none; */
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 0;
    width: calc(100vw / 11 + 200px);
    width: calc(50vw);
    /*  width: 800px; */
    height: 100%;
    z-index: -10;

    /*    background-size: cover;
    background-position: 0% 50%; */
    background-position: 50% 50%;

    filter: grayscale(100%) brightness(0.5);

    transition: background-position 1s, filter 0.5s;
    background-repeat: no-repeat;
    background-color: black;

    .background-color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: color;
    }
  }
}
