@font-face {
  font-family: 'Munken';
  src: url('/munken.woff');
}
@font-face {
  font-family: 'Stanley';
  src: url('/Stanley-Normal.woff2');
}

@import 'lanSwitch.scss';
@import 'menu.scss';
@import 'page.scss';
@import 'title.scss';
@import 'fullscreen-video.scss';
@import 'directors.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: Munken;
  /* font-family: Stanley; */

  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  /*   grid-template-columns: min-content 1fr; */

  /*   overflow: hidden; */
  /*   background-color: black; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
