header {
  display: grid;
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
  /*   z-index: 2; */

  grid-template-columns: min-content 1fr;

  mix-blend-mode: difference;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-content: center;

    .big-title {
      width: min-content;

      .title-line {
        --scale: 1;
      }
    }
    .menu {
      justify-self: center;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: min-content;
    justify-content: center;

    .menu {
      display: none;
    }
  }
}

.big-title {
  /*   position: relative; */
  height: 100%;
  width: 100%;
  /*   z-index: -5; */

  .title-line {
    --scale: 1.95; //Magic Number to fit the screen height

    font-family: Rubik Mono One;

    font-size: calc(16vh * var(--scale));
    line-height: calc(13vh * var(--scale));
  }
}

.menu {
  --scale: 0.9;
  display: grid;
  position: relative;
  z-index: 20;

  width: min-content;
  height: min-content;

  padding-right: 0.5vw;
  padding-top: 0.5vw;

  mix-blend-mode: overlay;
  background-color: transparent;

  place-self: start flex-start;

  .menu-item {
    display: block;
    font-family: Rubik Mono One;
    white-space: nowrap;

    font-size: calc(5.4vw * var(--scale));
    line-height: calc(4.8vw * var(--scale));

    color: white;

    /*  &:hover {
      text-decoration: underline;
    } */
  }

  .overflow-wrapper {
    overflow: hidden;
  }

  .real-title-wrapper {
    display: flex;
    width: min-content;
    justify-content: flex-start;

    /*     overflow: hidden */
  }
  .inclusive {
    height: 100%;
    height: calc(4.8vw * var(--scale));

    .eur {
      font-size: calc(5.4vw * var(--scale));
      line-height: calc(4.8vw * var(--scale));
    }
  }
}

.utilities {
  position: fixed;
  right: 0;
  bottom: 0;
  width: min-content;
  display: flex;
  padding-right: 10px;

  z-index: 30;

  align-items: center;
  justify-content: space-between;
}

.insta99 {
  /*   height: 1.8rem; */
  position: relative;
  margin: 5px;
  cursor: pointer;

  img {
    height: 30px;
  }

  .copy-popup {
    text-align: right;
    width: 400px;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.about {
  /*   display: none; */
  font-family: Rubik Mono One, Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 1.5rem;
  text-align: justify;
}

.about-title {
  font-family: Munken;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
}

.hamburger-menu {
  display: none;
  cursor: pointer;

  @media (max-width: 1200px) {
    display: grid;
  }
  mix-blend-mode: difference;

  position: absolute;
  right: 0;
  width: 12vh;
  height: min-content;
  gap: 1.5vh;
  padding-top: 2vh;
  padding-right: 2vh;
  z-index: 40;
}

.hamburger-menu-line {
  display: block;
  width: 100%;
  height: 1.5vh;
  background-color: white;
  /*  margin: 10px 0px; */
  border-radius: 0.5vh;
}

.hamburger-menu-modal {
  display: none;

  @media (max-width: 1200px) {
    display: grid;
  }
  place-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 30;

  //this is needed to reactivate the menu in the hamburger menu
  .menu {
    position: relative;
    display: grid;
    /*     z-index: 40; */
    mix-blend-mode: normal;
    --scale: 2;
  }
}
