.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /*  display: grid; */

  overflow: hidden;
  grid-template-rows: min-content 1fr;

  z-index: 20;
  /*   border: pink 2px solid; */
}

.page-title-wrapper {
  overflow: hidden;
}

.page-title {
  font-family: Rubik Mono One;
  position: absolute;

  /*   position: relative; */
  width: 100%;
  overflow: hidden;
  display: grid;
  font-size: 9rem;
  line-height: 10rem;
  grid-template-columns: min-content 1fr;
  /*   border-bottom: 10px solid white; */
  /*   margin-bottom: 10px; */
  z-index: 10000;

  /*  display: none; */

  .page-title-title {
    overflow: visible;
    /*     overflow-y: hidden; */

    width: 100%;
    white-space: nowrap;
    scrollbar-width: none;

    @media (max-width: 1200px) {
      display: none;
    }

    /*    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    } */
  }
}

.back {
  font-family: Munken;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    transform: translateX(-5px);
  }
}
