.title {
  --scale: 1.95;

  font-family: Rubik Mono One;
  font-size: calc(16vh * var(--scale));

  line-height: calc(13vh * var(--scale));
  margin: auto;
  align-self: center;
}

.big-title {
  align-self: center;
  height: 100%;
  /* overflow: hidden; */
  width: 100%;
}
