.title {
  /*   display: none; */
  font-family: Rubik Mono One;
  font-size: 9rem;
  text-align: right;

  line-height: 7rem;
  margin: auto;
  align-self: center;

  /*   border-bottom: 2px solid white; */

  padding-bottom: 10px;
  margin-bottom: 10px;
}
