.language-switch {
  display: flex;
  position: relative;
  /*  width: 100%; */
  width: min-content;

  justify-content: center;

  font-family: Munken;

  padding: 10px;
  padding-left: 0px;

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

  .language {
    font-size: 1.5rem;
    margin: 0px 0.5rem;
    /* margin-left: 0px; */
    transition: 0.5s;
  }

  & .active {
    color: white;
  }

  .switch {
    width: 4rem;
    height: min-content;
    /*     background-color: rgba(255, 255, 255, 0.4); */
    display: flex;
    justify-content: flex-start;

    border: 2px solid white;
    border-radius: 50px;

    padding: 5px;
    cursor: pointer;
  }

  .switch[data-ison='true'] {
    justify-content: flex-end;
  }

  .handle {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 40px;
  }
}

.utilities {
  position: fixed;
  right: 0;
  bottom: 0;
  width: min-content;
  display: flex;
  padding-right: 10px;

  z-index: 30;

  align-items: center;
  justify-content: space-between;
}

.insta99 {
  position: relative;
  margin: 5px;
  cursor: pointer;

  img {
    height: 30px;
  }

  .copy-popup {
    text-align: right;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 100%;
  }
}
